@font-face {
    font-family: "Architects";
    src: url("font/DancingScript-VariableFont_wght.ttf");
}
.global{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
p{
    font-size: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}
.menu__item{
    margin-right: 5px;
    font-size: 20px;

}
.option{
    width: ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.heading{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}
.heading__content{
    font-family: Architects;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading__side{
    position: fixed;
    top: 280px;
}
}
.main__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__img__subtitle{
    color: rgb(126, 127, 129);
}