.heading{
    flex-direction: column-reverse;
}
.heading__right{
    padding:  0;
    font-size: 15px;
}
.heading__right__option{
    display: flex;
    justify-content: center;
}
.heading__left{
    justify-content: center;
    
}
.logo__font{
    margin: 0;
    padding-left: 25px;
}
.main{
    flex-direction: column;
}
.menu{
    flex-wrap: wrap;
    font-size: 10px;
}
li:hover{
    font-size: 12px;
    
}
.align_right{
    -webkit-box-align: center;
}
.align_left{
    -webkit-box-align: center;

}