@font-face {
    font-family: "Dancing";
    src: url("font/ArchitectsDaughter-Regular.ttf");
}
@font-face{
    font-family: "paytone";
    src: url("font/Montserrat-Light.ttf");
}

body{

    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    align-items: center;
   
    
}
.heading{
    display: -webkit-box;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 20px #efefef;
    align-items: center;
    -webkit-box-align: center;
    
   
}
.menu__item .using{
    color: rgb(126, 127, 129);
}
.heading__left{
    display: -webkit-box;
    display: flex;
    width: 15%;
    
    margin-right: 30px;
    
}
.heading__center{
    display: -webkit-box;
    display: flex;
    
    -webkit-box-orient: vertical;
    width: 100%;
    align-items: center;
    justify-content: space-around;
   
    -webkit-box-align: center;
    
}
li{
    list-style: none;
    text-decoration:none;
    position: relative;
}
p{
    text-align: justify;
}


ul{
    padding: 0;
}
li > ul{
   
    position: fixed;
    
    display: none;
    padding: 20px;
}
li:hover > ul{
    display: list-item;
    overflow: hidden;
    background-color: white;
}
.vert{
    color: rgb(153, 191, 105);
}

.menu{
    margin-right: 5px;
    
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    -webkit-box-pack:center;
    
    
}
.using.menu__item{
   
    color: rgb(126, 127, 129);
    
   
}
.menu__item{
    color: black;
    
}

a{
    text-decoration: none;
}
.logo{
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    font-family: paytone;
    font-size: 35px;
    color: black;
}
.logo__font{
    color: black;
    margin: 0;
    text-align: center;
}
.logo__font + p{
    margin: 0;
    font-size: 16px;
}
.heading__right{
    width: 10%;
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-left: 40px;
    position: fixed;
    top: 0px;
    right: 0;
}
    
   

.heading__right__option{
    color: black;
}
.main{
    display: flex;
    display: -webkit-box;
    width: 100%;
    
    justify-content: space-between;
    -webkit-box-pack:center;
}
.main__asideLeft{
    
    height: 100%;
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    position: static;
   
}
.network{
    position: sticky;
    top: 300;
    font-size: 20px;
}

.main__center{
    
        
        display: flex;
        display: -webkit-box;
        flex-direction: column;
        -webkit-box-orient: vertical;
        justify-content: center;
        -webkit-box-pack:center;
        align-items: center;
        -webkit-box-align: center;
        width: 50%;
    
    
}
.main__asideRight{
    
    height: 100%;
   
}
.footing{
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    justify-content: center;
    
    -webkit-box-pack: center;
    width: 100%;
    height: 200px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 20px #efefef;
    color: rgb(126, 127, 129);
}
.dancing{
    font-family: Dancing;
    font-size: 40px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.align_right{
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    
    -webkit-box-align: end;
}
.align_left{
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    
}
.item{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;}
.menu__icon{
    width: 50px;
    height: 66px;
    
    display: none;
}
